/* ----------------------------------------- */
/* CSS Reset */
/* ----------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* ----------------------------------------- */
/* Custom properties */
/* ----------------------------------------- */

:root {
  --bg-green: #2ab3b1;
  --bg-green-1: #81d8d7;
  --heading-primary: #4fb6b4;
  --text-green: #c0df33;
  --btn-green: #c0df33;
  --text-grey: #9aa7be;
  --text-white: #fff;
  --bg-white: #fff;
  --bg-blue: #e6eff5;
  --pad-rl-2_5: 2.5rem 0;
}

/* ----------------------------------------- */
/* Utility Classes */
/* ----------------------------------------- */

.pad-1_5 {
  padding: 0 1.5rem;
}

.pad-tb-1 {
  padding: 1rem 0;
}

.pad-t-1_5 {
  padding-top: 1.5rem;
}

.pad-t-1_75 {
  padding-top: 1.75rem;
}

.pad-b-1_5 {
  padding-bottom: 1.5rem;
}

.pad-b-1 {
  padding-bottom: 1rem;
}

.pad-b-2 {
  padding-bottom: 2rem;
}

.mar-tb-1_5 {
  margin: 1.5rem 0;
}

.mar-t-2 {
  margin-top: 2rem;
}

.mar-b-1 {
  margin-bottom: 1rem;
}

.mar-b-1_5 {
  margin-bottom: 1.5rem;
}

.mar-b-2 {
  margin-bottom: 2rem;
}

.mar-t-4_5 {
  margin-top: 4.5rem;
}

/* ----------------------------------------- */
/* General Style */
/* ----------------------------------------- */

body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-blue);
}

.container {
  box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
  margin-right: 2rem;
  margin-left: 2rem;

  @media (min-width: 37rem) {
    width: min(90%, 40rem);
    margin: 0 auto;
    margin-top: 10rem;
  }
}

.full-card {
  border-radius: 0.315rem;
}

.card {
  @media (min-width: 37rem) {
    display: flex;
  }
}

.heading-primary {
  color: var(--heading-primary);
  font-size: 1.25rem;
  font-weight: 700;

  @media (min-width: 37rem) {
    font-size: 1.5rem;
  }
}

.heading-secondary {
  color: var(--btn-green);
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: -0.01169rem;

  @media (min-width: 37rem) {
    font-size: 1.125rem;
  }
}

.heading-tertiary {
  @media (min-width: 37rem) {
    font-size: 1.125rem;
    font-weight: 700;
  }
}

.text {
  color: #9aa7be;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: -0.01094rem;

  @media (min-width: 37rem) {
    padding-bottom: 2.5rem;
    font-size: 1rem;
  }
}

.section-about {
  background-color: var(--bg-white);
  border-radius: 0.315rem 0.315rem 0 0;

  @media (min-width: 37rem) {
    padding-bottom: 2.5rem;
  }
}

.section-about,
.section-signup,
.section-features {
  @media (min-width: 37rem) {
    padding: 0 2.5rem;
    padding-top: 2.5rem;
    width: 100%;
  }
}
.section-signup {
  background-color: var(--bg-green);
  color: var(--text-white);
  flex-grow: 1;
  padding-bottom: 2.5rem;
  border-bottom-left-radius: 0.315rem;
}

.section-features {
  color: var(--text-white);
  background-color: var(--bg-green-1);
  flex-grow: 1;
  border-bottom-right-radius: 0.315rem;
}

.heading-tertiary {
  color: var(--text-white);
  font-size: 1.125rem;
  font-weight: 700;
}

.price {
  color: var(--text-white);
  font-size: 2rem;
  font-weight: 700;
}

.price-text {
  font-size: 1rem;
  font-weight: 400;
}

.signup-text {
  @media (min-width: 37rem) {
    font-size: 0.95rem;
  }
}

.btn:link,
.btn:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-white);
  background-color: var(--btn-green);
  font-weight: 700;
  border-radius: 0.32rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.plan {
  display: flex;
  align-items: center;
}

.price {
  margin-right: 0.5rem;
}

.list {
  list-style: none;
  margin-left: -2.3rem;
  line-height: 1.25rem;
}

li {
  line-height: 1.25rem;
}

.footer {
  margin-top: auto;
  align-self: center;
}

.footer-link {
  color: black;
}

.footer-link:hover,
.footer-link:active {
  color: grey;
}
