/* ----------------------------------------- */
/* CSS Reset */
/* ----------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* ----------------------------------------- */
/* Custom properties */
/* ----------------------------------------- */

:root {
  --bg-green: #2ab3b1;
  --heading-primary: #2ab3b1;
  --text-green: #c0df33;
  --btn-green: #c0df33;
  --text-grey: #9aa7be;
  --text-white: #fff;
  --bg-white: #fff;
}

/* ----------------------------------------- */
/* Utility Classes */
/* ----------------------------------------- */

.pad-1_5 {
  padding: 0 1.5rem;
}

.pad-tb-1 {
  padding: 1rem 0;
}

.pad-t-1_5 {
  padding-top: 1.5rem;
}

.pad-t-1_75 {
  padding-top: 1.75rem;
}

.pad-b-1_5 {
  padding-bottom: 1.5rem;
}

.pad-b-1 {
  padding-bottom: 1rem;
}

.pad-b-2 {
  padding-bottom: 2rem;
}

.mar-tb-1_5 {
  margin: 1.5rem 0;
}

.mar-t-2 {
  margin-top: 2rem;
}

.mar-b-1 {
  margin-bottom: 1rem;
}

.mar-b-1_5 {
  margin-bottom: 1.5rem;
}

.mar-b-2 {
  margin-bottom: 2rem;
}

/* ----------------------------------------- */
/* General Style */
/* ----------------------------------------- */

body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.container {
  box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 0.3125rem;
}

.heading-primary {
  color: var(--heading-primary);
  font-size: 1.25rem;
  font-weight: 700;
}

.heading-secondary {
  color: var(--btn-green);
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.25rem; /* 133.333% */
  letter-spacing: -0.01169rem;
}

.text {
  color: #9aa7be;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: -0.01094rem;
}

.section-about {
  background-color: var(--bg-white);
}

.section-signup,
.section-features {
  background-color: var(--bg-green);
  color: var(--text-white);
}

.heading-tertiary {
  color: var(--text-white);
  font-size: 1.125rem;
  font-weight: 700;
}

.price {
  color: var(--text-white);
  font-size: 2rem;
  font-weight: 700;
}

.price-text {
  font-size: 1rem;
  font-weight: 400;
}

.btn:link,
.btn:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-white);
  background-color: var(--btn-green);
  font-weight: 700;
  border-radius: 0.32rem;
}

.plan {
  display: flex;
  align-items: center;
}

.price {
  margin-right: 0.5rem;
}

.list {
  list-style: none;
  margin-left: -2.3rem;
  line-height: 1.25rem;
}

.footer {
  margin-top: auto;
}
